.mosaicflow__column {
    float: left;
    width: 100%;
}

.mosaicflow__item {
    position:relative;
    transform: scale(1);
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    -o-transition: all 0.4s;
    transition: all 0.4s;
}
.mosaicflow__item img {
    display:block;
    width:100%;
    max-width: 800px;
    /*min-width: 200px;*/
    height:auto;
}

.mosaicflow__item:hover {
    z-index: 1000;
    transform: scale(1.1);
}

.mosaicflow__item p {
    position:absolute;
    bottom:0;
    left:0;
    width: 95%;
    margin: auto;
    padding:5px;
    background:hsla(0,0%,0%,.5);
    color:#fff;
    font-size:17px;
    text-shadow:1px 1px 1px hsla(0,0%,0%,.75);
    opacity:0;
    -webkit-transition: all 0.4s cubic-bezier(0.23,1,0.32,1);
    -moz-transition: all 0.4s cubic-bezier(0.23,1,0.32,1);
    -o-transition: all 0.4s cubic-bezier(0.23,1,0.32,1);
    transition: all 0.4s cubic-bezier(0.23,1,0.32,1);
}
.mosaicflow__item:hover p {
    opacity:1;
}