
.icon.animation-hide{
    animation: 1500ms hide;
} @keyframes hide {
      0%{
          opacity: 1;
      }
      100%{
          opacity: 0;
          display: none;
      }
  }

.icon.animation-show{
    animation: 1500ms show;
} @keyframes show {
      0%{
         opacity: 0;
          display: none;
      }
      100%{
         opacity: 1;
      }
  }



