
.pulse {
    position: absolute;
    width: inherit;
    height: inherit;
    margin: auto;
    top: 0; left: 0; bottom: 0; right: 0;
    z-index: 1;
    opacity: 0;
    border: 1px solid rgba(255,255,255,0);

    -webkit-animation: pulsej 4s linear infinite;
    -moz-animation: pulsej 4s linear infinite;
    animation: pulsej 4s linear infinite;

    -webkit-border-radius: 999px;
    -moz-border-radius: 999px;
    border-radius: 999px;

    -webkit-box-shadow: inset 0px 0px 12px 5px rgba(255, 255, 255, .8);
    -moz-box-shadow: inset 0px 0px 12px 5px rgba(255, 255, 255, .8);
    box-shadow: inset 0px 0px 12px 5px rgba(255, 255, 255, .8);

    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
@-webkit-keyframes pulsej {
    0% {
        transform: scale(1);
        opacity: 0;
    }

    40% {
        transform: scale(1);
        opacity: 0;
    }
    41% {
        transform: scale(1);
        opacity: 1;
    }

    80% {
        transform: scale(1.4);
        opacity: 1;
    }

    100% {
        transform: scale(1.5);
        opacity: 0;
    }
}

@-moz-keyframes pulsej {
    0% {
        transform: scale(1);
        opacity: 0;
    }

    40% {
        transform: scale(1);
        opacity: 0;
    }
    41% {
        transform: scale(1);
        opacity: 1;
    }

    80% {
        transform: scale(1.4);
        opacity: 1;
    }

    100% {
        transform: scale(1.5);
        opacity: 0;
    }
}

@keyframes pulsej {
    0% {
        transform: scale(1);
        opacity: 0;
    }

    40% {
        transform: scale(1);
        opacity: 0;
    }
    41% {
        transform: scale(1);
        opacity: 1;
    }

    80% {
        transform: scale(1.4);
        opacity: 1;
    }

    100% {
        transform: scale(1.5);
        opacity: 0;
    }
}

/*
.pulse1 {
    width: inherit;
    height: inherit;
    margin: auto;
    top: 0; left: 0; bottom: 0; right: 0;
    z-index: 1;
    opacity: 0;
    border: 3px solid rgba(255,255,255,.1);

    -webkit-animation: pulsejg1 4s linear infinite;
    -moz-animation: pulsejg1 4s linear infinite;
    animation: pulsejg1 4s linear infinite;
    -webkit-border-radius: 999px;
    -moz-border-radius: 999px;
    border-radius: 999px;
    -webkit-box-shadow: inset 0px 0px 15px 10px rgba(0, 0, 0, .6);
    -moz-box-shadow: inset 0px 0px 15px 10px rgba(0, 0, 0, .6);
    box-shadow: inset 0px 0px 15px 10px rgba(0, 0, 0, .6);
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}


@-webkit-keyframes pulsejg1 {
    0% {
        -webkit-transform: scale(1);
        opacity: 0;
    }

    50% {
        -webkit-transform: scale(1);
        opacity: 0;
    }

    60% {
        -webkit-transform: scale(1.2);
        opacity: .2;
    }

    70% {
        -webkit-transform: scale(1.4);
        opacity: .35;
    }

    80% {
        -webkit-transform: scale(1.5);
        opacity: .2;
    }

    100% {
        -webkit-transform: scale(1.8);
        opacity: 0;
    }
}

@-moz-keyframes pulsejg1 {
    0% {
        -moz-transform: scale(.6);
        opacity: 0;
    }

    50% {
        -moz-transform: scale(.6);
        opacity: 0;
    }

    60% {
        -moz-transform: scale(.12);
        opacity: .2;
    }

    70% {
        -moz-transform: scale(1.4);
        opacity: .35;
    }

    80% {
        -moz-transform: scale(1.5);
        opacity: .2;
    }

    100% {
        -moz-transform: scale(1.6);
        opacity: 0;
    }
}

@keyframes pulsejg1 {
    0% {
        transform: scale(.6);
        opacity: 0;
    }

    50% {
        transform: scale(.6);
        opacity: 0;
    }

    60% {
        transform: scale(.12);
        opacity: .1;
    }

    70% {
        transform: scale(1.4);
        opacity: .25;
    }

    80% {
        transform: scale(1.5);
        opacity: .1;
    }

    100% {
        transform: scale(1.6);
        opacity: 0;
    }
}
*/
