body {background-color: #000000;}



.icon{
    position: fixed;
    width: 140px;
    height: 140px;
    background: url(../../img/icon1.png) no-repeat;
    background-size: 140px 140px;
    top: 0; left: 0; bottom: 0; right: 0;
    margin: auto;
    z-index: 100;

    /*
    -webkit-box-shadow: 
      0 0 0 10px   rgba(255,255,255,.2),
      0 0 25px 2px rgba(0,0,0,.4),
inset 0 0 0 15px   rgba(255,255,155,.4);
    -moz-box-shadow: 
      0 0 0 10px   rgba(255,255,255,.2),
      0 0 25px 2px rgba(0,0,0,.4),
inset 0 0 0 15px   rgba(255,255,155,.4);
    box-shadow: 
      0 0 0 10px   rgba(255,255,255,.2),
      0 0 25px 2px rgba(0,0,0,.4),
inset 0 0 0 15px   rgba(255,255,155,.4);
*/

    -webkit-border-radius: 999px; 
    -moz-border-radius: 999px;
    border-radius: 999px;
    /* border-radius: 50% has issues on some mobile browsers */
}

.icon-back-to-main{
    position: fixed;
    width: 80px;
    height: 80px;
    background: url(../../img/icon1.png) no-repeat;
    margin-left: 2%;
    margin-top: 5%;
    background-size: 80px 80px;
    top: 0; left: 0; bottom: 0; right: 0;
}

.icon-main{
    position: absolute;
    width: 250px;
    height: 250px;
    background: url(../../img/bulb-1.png) no-repeat;
    background-size: 250px 250px;
    top: 0; left: 0; bottom: 0; right: 0;
    margin: auto;
    z-index: 5;
    -webkit-border-radius: 999px;
    -moz-border-radius: 999px;
    border-radius: 999px;
}

.icon-img-1 {
    background-image: url(../../img/bulb-1.png);
}

.ch-img-2 {
    /*background-image: url(1_2.jpg);*/
}

.ch-img-3 {
    /*background-image: url(1_3.jpg);*/
}


.icon.hide{
    display: none;
}

.icon.lt{
    margin-left: 0%;
    margin-top: 0%;
}

.icon.lb{
    margin-left: 0%;
    margin-bottom: 0%;
}

.icon.rt{
    margin-right: 0%;
    margin-top: 0%;
}


.icon.rb{
    margin-right: 0%;
    margin-bottom: 0%;
}

.icon-social{
    left: 0; right: 0; bottom: 0;
    margin: 3px 3px 3px 3px;
    height: 60px;
    width: 60px;
    cursor: pointer;
}


.icon-title-start {
    margin-top: 15%;
    width: auto;
    height: 40px;
    top: 22%; left: 0; bottom: 0; right: 0;
    color: #ffffff;
    font-size: 150%;
}

.icon-title-back{
    width: auto;
    height: 40px;
    margin-top: 15%;
    color: #ffffff;
    font-size: 150%;
}
