body{padding:0;margin:0;}

.bg-container {
    position:absolute;
    top:0; bottom: 0; left: 0; right: 0;
    z-index:0;
    width: 100%;
    padding-top:50%;
    background: url(http://n-urist.ru/upload/iblock/fc0/fc08f08ec27279a78b972fac3c4ab0e4.jpg) center center no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.bg-container.animate-zoom-bg-start {
    animation: 2000ms start ;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;

}  @keyframes start{
       0%{
           transform: scale(1);
       }
       100%{
           transform: scale(1.2)
       }
}

.bg-container.animate-zoom-bg-end {
    animation: 500ms end;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}  @keyframes end{
       0%{
           transform: scale(1.2);
       }
       100%{
           transform: scale(1);
       }
}
