.content-container {
    position:absolute;
    /*background-color:rgba(255,255,255,1);*/
    z-index: 3;
    left:0;
    right:0;
    top:0;
    margin-left:auto;
    margin-right:auto;
    width:100%;
}

.icon-container{
    position:absolute;
    /*background-color:rgba(255,255,255,1);*/
    z-index: 4;
    left:0; right:0; top:0;
    margin-left:auto;
    margin-right:auto;
    width:100%;
}

.icon-container-end-page{
    position:absolute;
    /*background-color:rgba(255,255,255,1);*/
    z-index: 4;
    left:0; right:0; bottom: 0;
    margin-left:auto;
    margin-right:auto;
    width:100%;
}

.icon-social-container{
    position: fixed;
    right: 0; bottom: 0;
    margin-right: 0;
    margin-bottom: 0;
    width: 200px;
}

.end-page-container {
    position: fixed;
    left:0;
    right:0;
    bottom: 0;
}

.content-container h1{
    color: #ffffff;
}

.content-container p{
    color: #ffffff;
}